#carousel-example-generic {
	margin-top: -70px;
}
#section1 {
	margin-top: 40px;
	display: none;
}
#section2 {
	display: none;
}
#section3 {
	display: none;
}
body {
	height:2025px;
}
.social-icon {
	width: 40px;
	height: 40px;
	opacity: 0.5;
}
.navbar-transparent {
	opacity: 0.5;
}